* {
  color: 333;
}

.container {
  max-width: 1122px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

html,
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: white;
}

textarea:focus, input:focus {
  outline: none;
  color: white;
}

.j-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.a-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

button {
  padding: 10px;
  border: none;
  background: #f7921e88;
  padding: 7px 20px;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  color: white;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;
}

button:hover {
  background-color: white;
  color: gray;
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.nav {
  padding: 40px;
}

.nav .logo {
  width: 15%;
  color: #f7931e;
}

.nav .logo .img-logo {
  width: 30px;
  height: 30px;
}

.nav .logo h1 {
  position: absolute;
  top: 12px;
  left: 80px;
  letter-spacing: 2px;
}

.nav .menu {
  width: 50%;
  height: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
}

.nav .menu a:hover {
  color: gray;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.nav .menu .home-button {
  color: #f7931e;
}

footer {
  background-color: #2f2f2f;
  color: white;
  padding: 50px;
  letter-spacing: 2px;
}

footer .footer-left .name {
  color: #f7931e;
  font-size: 25px;
  font-weight: 600;
  padding-bottom: 10px;
}

footer .footer-left .about {
  padding-top: 10px;
  cursor: pointer;
}

footer .footer-left .about:hover {
  color: gray;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

footer .footer-right {
  width: 65%;
  text-align: center;
}

footer .footer-right .footer-menu {
  border-top: 1px solid #f7931e;
  border-bottom: 1px solid #f7931e;
  padding: 20px 40px;
  margin-bottom: 30px;
}

footer .footer-right .footer-menu a:hover {
  color: gray;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

footer .footer-right .copyright {
  padding-top: 10px;
}

.banner {
  background: url(./image/b1.jpg) no-repeat top center/cover;
  height: 100vh;
  position: relative;
}

.banner .bg-blur {
  width: 100%;
  height: 100%;
  background: rgba(136, 136, 136, 0.03);
  position: absolute;
  z-index: 10;
}

.banner .banner-content {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 11;
}

.banner .banner-content .banner-text {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.banner .banner-content .banner-text h2 {
  margin-top: 18%;
  font-size: 50px;
  font-weight: 400;
  letter-spacing: 3px;
}

.banner .banner-content .banner-text .text {
  letter-spacing: 1px;
  font-size: 17px;
  margin-top: -20px;
  line-height: 30px;
}

.banner .banner-content .banner-text .learn-more {
  margin-top: 30px;
  background: rgba(128, 128, 128, 0.534);
  padding: 15px 25px;
  border: none;
  border-radius: 40px;
  font-size: 15px;
  color: white;
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;
}

.banner .banner-content .banner-text .learn-more:hover {
  background-color: white;
  color: gray;
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.latest-articles {
  cursor: pointer;
  padding: 100px 0;
}

.latest-articles .articles-title {
  font-size: 50px;
  color: #f7931e;
  margin: 0 0 50px 0;
  text-align: center;
  font-weight: 600;
}

.latest-articles .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.latest-articles .row .article-title {
  width: 100%;
  height: auto;
  margin: 0 auto;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 100px 20px;
}

.latest-articles .row .article-title span {
  font-size: 12px;
  font-weight: 400;
}

.latest-articles .row img {
  width: 374px;
  height: auto;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.latest-articles .row img:hover {
  opacity: .9;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

.nonprofits-group .news-title {
  font-size: 50px;
  color: #f7931e;
  margin: 100px 0 30px 0;
  text-align: center;
}

.list {
  letter-spacing: 0.5px;
  margin-top: 50px;
}

.list .item {
  width: 32%;
  border: 2px solid #f7921e1a;
}

.list .item img {
  width: 100%;
  height: auto;
  cursor: pointer;
}

.list .item img:hover {
  opacity: .9;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  -webkit-filter: blur(100%);
          filter: blur(100%);
}

.list .list-title {
  font-size: 23px;
  font-weight: 600;
  margin: 10px 0 -5px 0;
  text-align: center;
  color: #f7931e;
}

.list .item-text {
  font-size: 14px;
  font-weight: 400;
  border-bottom: 1px solid #f7921e1a;
  padding: 20px;
}

.list .info {
  padding: 10px 20px;
}

.list .fas, .list .far {
  color: #f7931e;
  padding-top: 3px;
}

.get-news {
  margin-top: 100px;
  background-color: #f7931e;
  padding: 100px;
  letter-spacing: 1px;
  text-align: center;
}

.get-news .news-title {
  font-size: 50px;
  color: white;
  margin-bottom: 30px;
}

.get-news input {
  padding: 20px;
  border: none;
  width: 35%;
  margin: 10px 0;
  font-size: 15px;
  color: #f7931e;
  margin: 10px 0;
}

.get-news button {
  background-color: white;
  color: #f7931e;
  margin-top: 30px;
}

.get-news button:hover {
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  background-color: rgba(51, 51, 51, 0.274);
  color: white;
}

.brown {
  background-color: #2f2f2f;
  margin: auto;
}

.register-page .register-nav {
  padding: 40px;
  background-color: #2f2f2f;
}

.register-page .logo {
  width: 15%;
  color: #f7931e;
}

.register-page .logo .img-logo {
  width: 30px;
  height: 30px;
}

.register-page .logo h1 {
  position: absolute;
  top: 12px;
  left: 80px;
  letter-spacing: 2px;
}

.register-page .register-menu {
  width: 100%;
  height: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
}

.register-page .register-menu a:hover {
  color: gray;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.register-page .register-menu .home-button {
  color: #f7931e;
}

.register-page .register-menu .button {
  padding: 10px;
  border: none;
  background: #f7921e88;
  padding: 7px 20px;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  color: white;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;
}

.register-page .register-menu .button:hover {
  background-color: white;
  color: gray;
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.register-page .register-form {
  background: url(./image/bling.jpg) no-repeat top center/cover;
  height: 90vh;
  background-attachment: fixed;
  position: relative;
  color: white;
}

.register-page .register-form .bg-blur1 {
  width: 100%;
  height: 100%;
  background: #2f2f2fb6;
  position: absolute;
  z-index: 10;
}

.register-page .register-form .form1 {
  background: rgba(51, 51, 51, 0.377);
  padding: 30px 80px 210px 80px;
  position: relative;
  z-index: 11;
  width: 50%;
  height: 60%;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.register-page .register-form .form1 .register-form-title {
  font-size: 40px;
  text-align: center;
  font-weight: 500;
}

.register-page .register-form .form1 .form-input {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  letter-spacing: 1.5px;
  padding: 0 0 10px 20px;
  margin-top: 20px;
  width: 100%;
  background: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px dot rgba(51, 51, 51, 0.418);
}

.register-page .register-form .form1 .label {
  position: relative;
}

.register-page .register-form .form1 .icon {
  font-size: 20px;
  position: absolute;
  top: 30%;
  left: -10px;
}

.register-page .register-form .form1 .icons-group {
  width: 50%;
  margin: 50px auto 0 auto;
}

.register-page .register-form .form1 .icons-group .fab {
  border: 2px solid white;
  width: 20px;
  height: 20px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 13px 10px 8px 10px;
}

.register-page .register-form .form1 .icons-group .fab:hover {
  background-color: white;
  color: #333;
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
  cursor: pointer;
}

.register-page .register-form .form1 .bottom-part {
  position: relative;
}

.register-page .register-form .form1 .submit-button {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  margin: 20px 0;
  width: 400px;
  padding: 10px 50px;
  border: none;
  background: #f7921e88;
  padding: 7px 20px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  color: white;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;
  margin: 50px 0;
}

.register-page .register-form .form1 .submit-button:hover {
  background-color: white;
  color: gray;
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.register-page .register-form .form1 .already-registered {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  margin-top: 120px;
}

.register-page .register-form .form1 .already-registered span {
  cursor: pointer;
  color: #f7921e88;
}

.register-page .register-form .form1 .already-registered span:hover {
  text-decoration: underline;
}

.donate-page {
  margin: 0 auto;
  color: #333;
}

.donate-banner {
  background: url(./image/banner3.jpg) no-repeat top center/cover;
  background-color: yellowgreen;
  width: 100%;
  height: 100vh;
  position: relative;
}

.donate-banner .bg-blur {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.623);
  position: absolute;
  z-index: 10;
}

.donate-banner .donate-content {
  width: 100%;
  height: 100%;
  color: white;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -25%);
          transform: translate(0, -25%);
  z-index: 11;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.donate-banner .donate-content h1 {
  font-size: 40px;
}

.donate-form {
  padding: 20px;
  width: 40%;
  height: auto;
  background-color: white;
  letter-spacing: 1px;
}

.donate-form h2 {
  font-size: 40px;
  font-weight: 500;
  text-align: center;
  color: #f7931e;
}

.donate-form h4 {
  text-align: center;
  margin-bottom: 30px;
  margin-top: -20px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
}

.donate-form .donate-amount {
  margin: 0 10px;
}

.donate-form .input-group {
  margin-bottom: 20px;
  font-size: 20px;
}

.donate-form .custom-amount {
  width: 95%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 17px;
  margin: 0 10px 30px 10px;
}

.donate-form .address {
  margin-top: -10px;
  font-size: 17px;
  letter-spacing: 0.5px;
}

.donate-form .donate-button {
  background: #f7921ee0;
  margin-top: 40px;
}

.donate-form .custom-input {
  border: 1px solid #f7921e67;
  padding: 10px;
  width: 70%;
  color: #333;
}
/*# sourceMappingURL=style.css.map */